.gauge { max-height: 150px; }

.gauge-capacity {
    fill: transparent;
    stroke : #2D2D2D;
    stroke-width: 10;
}

.gauge-utilized {
    fill: transparent;
    opacity: 0.5;
    stroke: #5595BC;
    stroke-width: 10;
    stroke-dasharray: 283;
}

.gauge-text {
    text-anchor: middle;
    font-size: 11px;
    stroke: #B1C1CB;
}
