.swap-meter {
    max-height: 30px;
}

.meter-capacity {
    fill: #2A424E;
}

.meter-utilized {
    fill: #F40045;
}

.meter-text {
    text-anchor: middle;
    font-size: 32px;
    stroke: #B1C1CB;
}
